.gallery{
    
    columns:300px;
    padding-top: 5em;
}


.gallery-img{
    width: 100%;
    margin-bottom: 1em;
}





@media (max-width:1024px) {
    .gallery{
    
    columns:200px;
    padding: 0 0.5rem;
    padding-top: 5em;
}
    
}