.product-card{
    width: 250px;
    height: 300px;
    
}
.product-card-img-container{
    width: 100%;
    height: 90%;

}
.product-card-img{
    width: 100% ;
    height: 100%;
    object-fit:cover;
    transition: all ease-in-out 0.4s;

}
.product-card-title{
    font-size: 1rem;
    font-weight: 600;
    margin: 4px 0px;
    
}



.product-card:hover .product-card-img{
    transform: scale(1.10);
}

.detailed-card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80vh;
    z-index: 99999999;
    background: #2b2a2a7c;

}

.detailed-card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
 user-select: none;
}

.detailed-card-close-btn{
 position: absolute;
 top: 30px;
 right: 30px;
 width: 30px;
 height: 30px;
 z-index: 99999;
 cursor: pointer;
 color: white;

}