.footer
{
    width: 100%;
    height: 40vh;
    background: #ECEAEB;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    position: relative;


}

.footer-logo-container{
    width:300px ;
    height: 200px;
    margin-right: 10rem;
}

.footer-logo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-details-wrapper{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding-left: 10rem;
    padding-top: 2rem;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.details-container-heading{
    font-size: 1.1rem;
    margin-bottom: 12px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.details-icon{
    width:22px;
    height:22px;
    margin-right: 5px;
    color: #414040;
}
.details-text{
    text-align: start;
    font-size: 1rem;
    font-weight: 500;
    color: #414040;

}

.scrollToTop-btn{
    height: 60px;
    width: 60px;
    border: 2px solid #414040;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

}

.scrollToTop-icon{
    width: 18px;
    height: 18px;
  animation: goUp 1s infinite alternate ease-in-out ;
}

@keyframes goUp{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(50%);
    }
}



.creator{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #414040;
    font-size: 0.8rem;
}

.creator a{
    color: black;
}
@media (max-width:768px) {

     .footer{
        flex-direction: column;
        height: 80vh;
            padding: 0.5rem 0.4rem;
     }
     .footer-logo-container{
    width:150px ;
    height: 100px;
    margin-right: 0rem;
}

.footer-details-wrapper{
    flex-direction: column;
     padding-left: 1rem;
     padding-top: 0;
     height: 100%;
     justify-content: space-evenly;
    
}

.details-container-heading{
 font-size: 1rem;   
}


.details{

    margin-bottom: 5px;
  
}
.details-icon{
    width:18px;
    height:18px;
    margin-right: 5px;
}
.details-text{
   
    font-size: 0.8rem;
   

}


.scrollToTop-btn{
    height: 40px;
    width: 40px;
  
}

.scrollToTop-icon{
    width: 14px;
    height: 14px;
  animation: goUp 1s infinite alternate ease-in-out ;
}


}